<mat-list class="list-group" fxLayout="column" >
  <div fxFlex="10%">
      <h3 mat-subheader class="title" fxLayoutAlign="center center">Users</h3>
  </div>
    <div class="item" >
        <mat-list-item  *ngIf=" User$ | async as user">
            <i class="material-icons md-36">face</i>
            <h4>{{user.id}}</h4>
            <h4>{{user.email}}</h4>
          </mat-list-item>
    </div>
</mat-list>

<mat-list>
    <h3 mat-subheader class="title" fxLayoutAlign="center center">post</h3>
    <mat-list-item *ngFor="let post of Post$ | async">
        <i class="material-icons md-36" [routerLink] = "['/comment-page', post.id]">face</i>
      <h4>{{post.id }}</h4>
      <br>
      <h4 >{{post.title}}</h4>
    </mat-list-item>
    <br>
  </mat-list>