/* You can add global styles to this file, and also import other style files */
@import "../src/variables.scss";
html, body{
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color:  white;
}